@import "../../common/styles/variables";
@import "../../common/styles/common";

html, body, #app {
  width: 100vw;
  min-height: 100vh;
}
body {
  margin: 0;
  background: @application-background;
}

