doctype html
html
    head
        title= "Baby Calendar"
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
    body
        div#app
        script.
            babyCalendarAppUser = "#{user}";
        script(src="https://widget.cloudinary.com/v2.0/global/all.js", type="text/javascript")
