@background-start: #E7717D;
@background-end: #FF9472;
@loader-background: #f3f3f3;
@loader-moving: #000;
@green-yellow: #AFD275;
@lavender-gray: #C2B9B0;
@table-border-color: #FFF;
@red-reject: #FF4136;
@green-confirm: #2ECC40;
@brown-diaper: #654321;
@blue-info: #0074D9;
@button-font-color: #000;

@header-font-family: cursive;

@table-border: 1px solid @table-border-color;

@background-gradient: linear-gradient(to bottom, @background-start, @background-end);
@background-image: url("https://images.pexels.com/photos/751373/pexels-photo-751373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

@smartphone: ~"only screen and (max-width: 480px)";