.form {
  max-width: 500px;

  .flex-center-column();
  width: 70%;
  padding: 30px;

  &-button {
    &-container {
      margin: 16px 0;
    }
    &-element {
      font-size: 14px;
      line-height: 14px;
    }
  }
  &-inputs {
    &-repeat-container {
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 0.3s ease-in-out;

      &-expanded {
        max-height: 72px;
      }
    }
  }
}
