@import "form";
@import "../../common/styles/common";
@import "../../common/styles/variables";
@import "animations";
@import "header";
@import "tabs";

html, body {
  width: 100%;
  height: 100%;
}
body {
  background: @background-gradient;
}
#app {
  width: 100%;
  height: 100%;
}