@import "form";
@import "../../common/styles/common";
@import "../../common/styles/variables";
@import "animations";

html, body {
  width: 100vw;
  height: 100vh;
}
body {
  background: @application-background;
  overflow: hidden;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header {
  text-align: center;
}
